*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100vw;
    height: 100vh;
}
.order-wrapper{
    width: 100vw;
    height: 100vh;
}
.header{
    width: 100%;
    height: 0.7rem;
    font-size: 0.46rem;
    color: #000;
    background-color: #FFEEAA;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header .iconfontPer{
    position: absolute;
    left: 6.7rem;
    width: 0.46rem;
    height: 0.46rem;
    display: block;
    background: url("../img/person.png") 100% 100% /cover no-repeat;
}
.back{
    flex: 1;
    color: black;
    width: 0.3rem;
    height: 0.3rem;
    display: block;
    font-size: 0.65rem;
    margin-top: -0.5rem;
    margin-left: 0.1rem;
}
.text{
    flex: 8;
    text-align: left;
    padding-left: 2.2rem;
}
.detail{
    width: 100%;
    background-color: #f0f0f2;
    height: calc(100% - 1.9rem);
}
.customer{
    width: 100%;
    height: 2rem;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(16, 16, 16, 1);
    font-size: 0.28rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.customerInfo{
    flex: 7;
    text-align: left;
    box-sizing: border-box;
    padding: 0.3rem;
}
.customerInfo label{
    font-size: 0.56rem;
    font-weight: bold;
}
.customerInfo #number{
    font-size: 0.56rem;
}
.time{
    flex: 3;
    border-top: 1px solid #ccc;
    text-align: left;
    box-sizing: border-box;
    background-color: #fff;
    /*padding: 0.1rem;*/
}
.time label{
    font-size: 0.26rem;
    font-weight: bold;
}
.time #t{
    font-size: 0.28rem;
    color: rgba(3, 169, 244, 1);
    font-weight: bold;
}
.payWay{
    width: 100%;
    height: 0.7rem;
    margin-top: 0.7rem;
    display: flex;
    background-color: #fff;
    align-items: center;
}
.payWay .p{
    font-size: 0.28rem;
    color: #555555;
    box-sizing: border-box;
}
.payWay .p1{
    flex: 7;
    padding-left: 0.2rem;
}
.payWay .p2{
    flex: 3;
    text-align: right;
    padding-right: 0.1rem;
}
.Info{
    width: 100%;
    height: 2.72rem;
    margin-top: 0.2rem;
    display: flex;
    flex-direction: column;
    background-color:#fff;
}
.Info span,label{
    font-size: 0.24rem;
    color: #9c9c9c;
    text-align: center;
    line-height: 0.9rem;
}
.Info div{
    flex: 1;
    border-bottom: 1px solid #ccc;
    display: flex;
    background-color:#fff;
}
.Info div img{
    width: 0.5rem;
    height: 0.5rem;
	margin-top: 0.2rem;
}
.Info .phone2{
	margin-left: auto;
}
.Info .second{
    display: flex;
}
.Info .second .s1{
    flex: 8;
    text-align: left;
    padding-left: 0.1rem;
}
.Info .second .s2{
    flex: 2;
}
.Info .third{
    display: flex;
}
.Info .third .t1{
    flex: 2;
    text-align: left;
    padding-left: 0.1rem;
}
.Info .third .t2{
    flex: 2;
}
.Info .third .t3{
    flex: 6;
    text-align: right;
    padding-right: 0.1rem;
}
.Info .third .t3 span{
    color: red;
    margin-left: 0.1rem;
}
.Info div #count{
    height: 0.6rem;
    margin-top: 0.2rem;
    margin-left: 0.2rem;
    outline: none;
}
/*底部*/
.footer{
    width: 100%;
    height: 1.2rem;
    box-sizing: border-box;
}
.footer .tips{
    width: 100%;
    height: 0.4rem;
    line-height: 0.4rem;
    font-size: 0.24rem;
    background-color: rgba(255, 238, 170, 1);
    text-align: center;
}
.payMoney{
    display: flex;
    height: 0.8rem;
    flex-direction: row;
}
.payMoney .money{
    flex: 7;
    background-color: #fff;
    text-align: center;
    line-height: 0.8rem;
    font-size: 0.28rem;
}
.payMoney .money span{
    color: red;
}
.payMoney .submitOrder{
    flex: 3;
    background-color: rgba(255, 234, 0, 1);
    font-size: 0.28rem;
    line-height: 0.8rem;
    text-align: center;
}

