* {
  margin: 0;
  padding: 0;
}
* html,
* body {
  width: 100%;
  height: 100%;
}
* html #update-password,
* body #update-password {
  width: 100%;
  height: 100%;
}
* html #update-password .password-head,
* body #update-password .password-head {
  position: relative;
  width: 100%;
  height: 1rem;
  color: #000000;
  font-size: 0.4rem;
  text-align: center;
  padding-top: 0.25rem;
  background-color: #FFEEAA;
}
* html #update-password .password-head .back-to-personal,
* body #update-password .password-head .back-to-personal {
  position: absolute;
  left: 0.32rem;
  top: 0.3rem;
  display: inline-block;
  width: 0.58rem;
  height: 0.58rem;
  background: url('../img/4.png') 100% 100% / cover no-repeat;
}
* html #update-password .pass-content,
* body #update-password .pass-content {
  width: 6.3rem;
  margin: 0 auto;
}
* html #update-password .pass-content #form-pass,
* body #update-password .pass-content #form-pass {
  width: 100%;
  margin-top: 0.9rem;
}
* html #update-password .pass-content #form-pass .inp,
* body #update-password .pass-content #form-pass .inp {
  width: 100%;
  box-sizing: border-box;
}
* html #update-password .pass-content #form-pass .inp .pass-tips,
* body #update-password .pass-content #form-pass .inp .pass-tips {
  margin-top: 0.1rem;
  height: 0.52rem;
  line-height: 0.52rem;
  color: #000;
  font-size: 0.36rem;
  text-align: left;
}
* html #update-password .pass-content #form-pass .inp .inp-pass,
* body #update-password .pass-content #form-pass .inp .inp-pass {
  width: 6.3rem;
  height: 0.68rem;
  text-align: left;
  border: 1px solid #bbbbbb;
}
* html #update-password .pass-content #form-pass #submit-passwd,
* body #update-password .pass-content #form-pass #submit-passwd {
  width: 5.5rem;
  height: 0.8rem;
  margin-top: 0.8rem;
  margin-left: 0.3rem;
  border-radius: 5px;
  background-color: #FFEEAA;
  color: #000000;
  font-size: 0.38rem;
  text-align: center;
  border: 1px solid rgba(5, 5, 5, 0.08);
}
* html #update-password .tips-box,
* body #update-password .tips-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}
* html #update-password .tips-box .mask,
* body #update-password .tips-box .mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
* html #update-password .tips-box .tips,
* body #update-password .tips-box .tips {
  width: 5rem;
  height: 3.3rem;
  border: 1px solid #ddd;
  margin: 3.5rem auto;
  background-color: #fff;
}
* html #update-password .tips-box .tips .img,
* body #update-password .tips-box .tips .img {
  width: 1rem;
  height: 1rem;
  margin: 0 auto;
}
* html #update-password .tips-box .tips .img img,
* body #update-password .tips-box .tips .img img {
  width: 100%;
  height: 100%;
}
* html #update-password .tips-box .tips p,
* body #update-password .tips-box .tips p {
  font-size: 0.38rem;
  text-align: center;
  margin-top: 0.4rem;
  margin-left: 0.2rem;
}
* html #update-password .tips-box .tips a,
* body #update-password .tips-box .tips a {
  display: block;
  width: 2rem;
  height: 0.8rem;
  text-align: center;
  font-size: 0.46rem;
  background-color: #FFEEAA;
  color: #000000;
  margin: 0.3rem auto;
  border-radius: 10px;
}
/*# sourceMappingURL=update-password.css.map */