<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>甄好吃麻辣烫</title>
    <!--头部适配-->
    <meta name="description" content=""/>
    <meta name="viewport"
          content="minimal-ui, initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="full-screen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="keywords" content=""/>
    <!--单个自己写的css-->
    <link rel="stylesheet" href="css/detail.css"/>
    <!--全局样式(清除默认样式)-->
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body>
<div id="detail">
    <!--    头部-->
    <div class="detail-head">
        <a href="index.html" class="back-to-index"></a>
        甄好吃招牌单人套餐
    </div>
    <div id="detail-content">
        <div id="box-slider">
			<img src="./img/taocan/haixian.jpg" alt="">
		</div>
		<!--        轮播图-->
		<div id="seilorInfo">
            <p class="seilor">商品详情</p>
            <span class="date">内含鱼豆腐、鹌鹑蛋、脆皮肠、方便面、鱼丸等......</span>
        </div>
        <div id="info">
            <span class="bookname">甄好吃招牌麻辣烫</span>
            <div class="bookDetail">
                <p></p>
                <p></p>
            </div>
<!--            <div class="price">-->
               <span class="price">￥13.5</span>
                <span class="oriprice">7折 每单限1份</span>
<!--            </div>-->
        </div>
        <div id="seilorInfo2">
			<p class="seilor">菜品评价</p><br>
			
			<div class="seilorImg">
                <img src="image/photo.jpg" alt="">
            </div>
            <p class="seilor2">未希</p>
            <span class="date">超赞超好吃！尤其是鹌鹑蛋！！！ </span>
			
			
        </div>
    </div>
</div>


<script src="js/jquery-3.3.1.js"></script>
<script src="js/zepto.min.js"></script>
<script src="js/rem.js"></script>
<script src="js/swiper.js"></script>
<script src="js/event.js"></script>

</body>
</html>