<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>myorder</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/index.css">
      <link rel="stylesheet" href="css/myOrder.css">
</head>
<body>
<div class="order-wrapper">
    <!--    头部-->
    <div class="head">
        <a href="../php/personal.php" class="back-to-personal"></a>
        我的订单
    </div>
    <!--    内容-->
    <div class="content">
        <div class="mealContent">
            <a href="#" class="item">
                <div class="mealImg">
                    <img src="./img/taocan/haixian.jpg" alt="">
                </div>
                <div class="orderInfo">
                    <div class="part1">
                        <span class="orderTime">下单时间：</span>
                    </div>
                    <div class="part2">
                        <span class="orderPrice">￥0</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>







<script src="./js/jquery-3.3.1.js"></script>
<script src="./js/zepto.min.js"></script>
<script src="./js/rem.js"></script>
<script src="js/event.js"></script>

</body>
</html>
